<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hackathon.arman.hackathon_nsu"
    android:versionCode="1"
    android:versionName="1.0"
    >


    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"


        android:label="Home Rent"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:replace="android:label">

        <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAht_X9tb7jqbLfyxwLSsq1GSs5qL6nkuI" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" />
        <activity android:name=".DetailsActivity" />
        <activity
            android:name=".Degree360"
            android:theme="@style/DefaultTheme.NoActionBar"></activity>
        <activity android:name=".LoginActivity"></activity>

        <activity
            android:name=".CameraViewActivity">
        </activity>
    </application>

</manifest>